.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 3.8em;
}

.reset-button {
  margin: 10px auto;
  width: 150px;
  font-size: 0.5em;
}

.search-input {
  margin: 0 5px 0 5px;
  border-radius: 3em;
  height: 45px;
  padding-left: 5px;
}
.search-style {
  width: 8em;
}

ul {
  list-style-type: none;
  /* margin-bottom: 4em; */
  padding: 0;
}

.soon {
  background-color: #20a39e;
}

.kinda-soon {
  background-color: #ffba49;
}

.not-soon {
  background-color: #ef5b5b;
}

.inactive {
  background-color: #a4a9ad;
}
