/* -------------- GLOBAL ---------------- */
* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
}

.App {
  text-align: center;
  margin: 10%;
  background: white;
  border: 3px solid black;
  min-height: 24em;
  height: auto;
}

button {
  border: #20a39e solid 3px;
  border-radius: 3em;
  color: #111010;
  background-color: #ffba49;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ef5b5b;
}

input {
  border-style: solid;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
  margin-top: -2em;
  color: #20a39e;
  border: 1px solid green;
}
