/* -------------- GLOBAL ---------------- Mobile */
.App {
  text-align: center;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: lightblue;  */
}

/*NavLink returns a standard <a> tag! so use <a> for styling*/
a {
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin: 0 15px;
}
.link-div {
  position: fixed;
  bottom: 25px;
  width: 100%;
  padding: 8px;
}
.title {
  font-size: 23px;
  font-weight: bold;
}
.soon {
  background-color: green;
}
.kinda-soon {
  background-color: blue;
}
.not-soon {
  background-color: purple;
}
.inactive {
  background-color: gray;
}

/* ---------------- Tablet ------------------ */

/* ---------------- Desktop ------------------ */
